body {
  margin: 20px;
  font-size: 1.25rem;
}
.main {
  display: flex;
}
.left-side-pane {
  display: flex;
  flex-direction: column;
  width: 35%;
  flex: 35%;
}
.right-side-pane {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  flex: 55%;
}
.self {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  box-sizing: border-box;
  height: 30%;
  border: 0.125rem solid lightgray;
  border-radius: 1.25rem;
  margin: 0.625rem;
}
.hobbies {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  box-sizing: border-box;
  height: 43%;
  border: 0.125rem solid lightgray;
  border-radius: 1.25rem;
  margin: 0.625rem;
}
.gamming {
  margin-top: 5rem;
}
.cooking,
.biking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: calc(33.33%-10px);
  margin-top: -10px;
}
.gamming h5,
.cooking h5,
.biking h5 {
  font-size: 1.5625rem;
  margin-left: 0.625rem;
  margin-top: 0rem;
}
.gamming p,
.cooking p,
.biking p {
  margin-top: -2rem;
  margin-left: 0.625rem;
}
.gamming img {
  margin-left: 2.5rem;
  width: 90%;
  height: 60%;
  max-height: 100%;
  object-fit: 100%;
  border-radius: 1.25rem;
  margin-top: -5rem;
  margin-bottom: 1rem;
}
.cooking img {
  width: 90%;
  height: 60%;
  max-height: 100%;
  object-fit: 100%;
  border-radius: 1.25rem;
  margin-left: 1.5rem;
  margin-top: -5rem;
  margin-bottom: 1rem;
}
.biking img {
  width: 90%;
  height: 60%;
  max-height: 100%;
  object-fit: 100%;
  border-radius: 1.25rem;
  margin-left: 1.5rem;
  margin-top: -5rem;
  margin-bottom: 1rem;
}
.my-image {
  width: 100%;
}
.my-image img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.625rem;
  border-radius: 0.625rem;
}
.self-intro {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
}
.h1 h4,
.h1 p {
  margin: 0;
  padding: 0.3125rem;
}
.h2 .email,
.h2 .phone {
  margin: 0;
}
.email,
.phone {
  margin-bottom: 0;
  height: 2.1875rem;
}
.email {
  display: flex;
  align-items: center;
  padding-top: 0.625rem;
}
.email img {
  width: 1.875rem;
  height: 1.875rem;
}
.email p {
  padding: 0.625rem;
}
.phone {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.phone img {
  width: 1.875rem;
  height: 1.875rem;
}
.phone p {
  padding-bottom: 0.625rem;
}
.Experiences {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  box-sizing: border-box;
  height: 30%;
  border: 0.125rem solid lightgray;
  border-radius: 1.25rem;
  margin: 0.625rem;
}
.adidas {
  display: flex;
}
.adidas img {
  height: 5rem;
  width: 5rem;
}
.experience-in-adidas {
  width: 60%;
  height: auto;
  margin-left: 0.625rem;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.experience-in-adidas p,
.experience-in-adidas h4,
.experience-in-adidas .role {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.Experiences > div {
  margin-bottom: 1rem;
}
.hobbies > div {
  margin-bottom: 1rem;
}
.experiences-heading h3 {
  font-size: 1.875rem;
  font-weight: 200;
  padding-left: 1.5625rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.hobbies-heading h3 {
  font-size: 1.875rem;
  font-weight: 200;
  padding-left: 1.5625rem;
  margin-top: -0rem;
  margin-bottom: 2rem;
}

.hm {
  display: flex;
}
.hm img {
  height: 5rem;
  width: 5rem;
}
.experience-in-hm {
  width: 60%;
  height: 6.25rem;
  margin-left: 0.625rem;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.experience-in-hm p,
.experience-in-hm h4,
.experience-in-hm .role {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.nivea {
  display: flex;
}
.nivea img {
  height: 5rem;
  width: 5rem;
}
.experience-in-nivea {
  width: 60%;
  height: 3.125rem;
  margin-left: 0.625rem;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.experience-in-nivea p,
.experience-in-nivea h4,
.experience-in-nivea .role {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.self {
  height: 26%;
}
.Experiences,
.hobbies {
  height: calc(74%-20px);
}
.languages {
  width: 90%;
  margin: 0px auto;
  display: flex;
  /* border: 0.125rem solid lightgray; */
  border-radius: 1.25rem;
}

.skills-container,
.design-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid lightgray;
  margin-bottom: 1.25rem;
  padding-top: 0px;
  padding-right: 1.25rem;
  border-radius: 1.25rem;
}
.skills-container h3 {
  padding-left: 1.875rem;
}
.design-container h3 {
  padding-left: 1.875rem;
}
.design-container {
  width: 40%;
  height: auto;
}
.skills-container {
  width: 40%;
  height: auto;
  margin-right: 0.625rem;
}

.skill,
.design {
  display: flex;
  align-items: center;
  margin-bottom: 2.1875rem;
  margin-left: 1.25rem;
  justify-content: space-around;
}

.skill-name,
.design-name {
  width: 30%;
}

.skill-bar-container,
.design-bar-container {
  width: 70%;
  margin-left: 0.625rem;
  height: 0.8rem;
  background-color: lightgray;
  border-radius: 0.625rem;
  padding-right: 13.125rem;
}

.skill-bar,
.design-bar {
  height: 100%;
  background-color: rgb(0, 157, 255);
  border-radius: 0.625rem;
}
.projects {
  height: 3.125rem;
}
.projects,
.blogs,
.blog-info,
.recipe-blog,
.my-gallery,
.checkout {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  border: 0.125rem solid lightgray;
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
  padding-bottom: 0.625rem;
}
.receipe-blog-image img,
.my-gallary-image img,
.checkout-image img,
.blog-image img {
  margin-top: 0.625rem;
  margin-left: 1.25rem;
  width: 80%;
  height: 23.125rem;
  border-radius: 0.625rem;
}
.require {
  font-size: large;
  font-weight: light bold;
}
.receipe-blog-details,
.my-gallary-details,
.checkout-details,
.blog-matter {
  width: 120%;
  padding: 0 20px;
}
.role {
  padding-top: 1.25rem;
}
.buttons {
  padding-top: 1.25rem;
}
.blue-button {
  background-color: rgb(0, 157, 255);
  color: white;
  border: none;
  border-radius: 0.3125rem;
  width: 6.25rem;
  height: 2.1875rem;
}
.transparent-button {
  background-color: transparent;
  border: 0.0625rem solid rgb(0, 157, 255);
  border-radius: 0.3125rem;
  width: 6.25rem;
  height: 2.1875rem;
  color: rgb(0, 157, 255);
}
.blogs-heading,
.projects-heading {
  margin-left: 0.625rem;
  font-weight: 500;
}
.blog-info {
  display: flex;
  flex-direction: row-reverse;
}
.dev {
  margin-top: 2.5rem;
  color: blue;
}
.blog-matter h4 {
  font-weight: 600;
  font-size: larger;
  font-family: Poppins;
}
@media (min-width: 250px) and (max-width: 767px) {
  .main {
    flex-direction: column;
    width: 100%;
  }
  .left-side-pane {
    width: 100%;
  }
  .right-side-pane {
    width: 100%;
  }
  .languages {
    width: 100%;
    flex-direction: column;
  }
  .skills-container {
    width: 100%;
  }
  .design-container {
    width: 100%;
  }
  .recipe-blog,
  .my-gallery,
  .checkout,
  .blog-info {
    flex-direction: column;
  }
  .receipe-blog-details,
  .my-gallary-details,
  .checkout-details,
  .checkout-image,
  .blog-matter {
    width: 80%;
  }
  .gamming p,
  .cooking p {
    margin-bottom: 2rem;
  }
  .gamming img {
    margin-left: 0.8rem;
    width: 93%;
    height: 10rem;
    border-radius: 1.25rem;
  }
  .cooking img {
    padding-top: -1rem;
    width: 93%;
    height: 10rem;
    border-radius: 1.25rem;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
  }
  .biking img {
    width: 93%;
    height: 10rem;
    border-radius: 1.25rem;
    margin-left: 0.8rem;
    margin-top: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    width: 100%;
  }
  .left-side-pane {
    width: 100%;
  }
  .right-side-pane {
    width: 100%;
  }
  .self {
    flex-direction: row;
  }
  .Experiences {
    flex-direction: row;
  }
  .adidas {
    flex-direction: column;
    margin-top: 3rem;
    margin-left: -8rem;
    margin-right: 7rem;
  }
  .hm {
    flex-direction: column;
    margin-top: 3rem;
    margin-left: -10rem;
    margin-right: 7rem;
  }
  .nivea {
    flex-direction: column;
    margin-top: 3rem;
    margin-left: -10rem;
  }
  .adidas img,
  .hm img,
  .nivea img {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .hobbies {
    flex-direction: row;
  }
  .gamming {
    padding-top: 5rem;
    padding-bottom: -10rem;
    margin-left: -7rem;
  }
  .cooking {
    padding-top: 10.5rem;
  }
  .biking {
    padding-top: 10.5rem;
  }
  .gamming img,
  .cooking img,
  .biking img {
    width: 12rem;
    height: 12rem;
    margin-left: 0rem;
  }
}
